<!--
  Generated template for the PlayVideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PlayVideo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{ videoTitle }}</h2>
  <!-- <video width="100%" height="315" controls>
    <source [src]="videoUrl" type="video/mp4">
    Your browser does not support the video tag.
    </video> -->
  <iframe width="100%"
            height="315"
            [src]="videoUrl"
            frameborder="0"
            allowfullscreen></iframe>
</ion-content>
