<ion-header>
  <ion-navbar>
    <ion-title>
      ETV Live
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" padding>
  <h3 style="color: white; font-size: 17px;">ETV 1</h3>
  <div (click)="playVideoETV1()" class="videodiv">
    
    <div *ngIf="isVideoETV1Playing == true">
        <iframe width="100%" height="315" [src]="trustedVideoUrlEVT1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div *ngIf="isVideoETV1Playing == false">
        <img class="videodiv" src="assets/imgs/ebc_poster.jpg" />
    </div>
  </div>

  <h3 style="color: white; font-size: 17px;"> ETV 2</h3>
  <div (click)="playVideoETV2()" class="videodiv">
      
      <div *ngIf="isVideoETV2Playing == true">
          <iframe width="100%" height="315" [src]="trustedVideoUrlEVT2" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div *ngIf="isVideoETV2Playing == false">
          <img class="videodiv" src="assets/imgs/ebc_poster.jpg" />
      </div>
  </div>

  <h3 style="color: white; font-size: 17px;"> ETV 3</h3>
  <div (click)="playVideoETV3()" class="videodiv">
      
      <div *ngIf="isVideoETV3Playing == true">
          <iframe width="100%" height="315" [src]="trustedVideoUrlEVT3" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div *ngIf="isVideoETV3Playing == false">
          <img class="videodiv" src="assets/imgs/ebc_poster.jpg" />
      </div>
  </div>
</ion-content>
